html{
    height: 100%;
    background-color: #000;
    text-transform: lowercase;
}

body{
    height: 100%;
    color: white;
}

.content-area{
    margin: 30px;
}

.row{
    display: flex;
}

.left{
    width: 66%;
}

.right{
    width: 33%;
}

.main-content{
    font-family: 'Poppins', sans-serif;
    color: #FFF;
    letter-spacing: 3px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.content {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

.splashscreen-text-container{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    
}

.site-title{
    font-size: 64px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 20px;
    line-height: 1;
}

.site-subtitle{
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 20px;
}

.action-button{
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 15px 32px;
    background-color: #1DB954;
    color: #000;
    font-size: 16px;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
    text-transform: lowercase;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border: thick solid #1DB954;
}

.action-button:hover{
    background-color: #000;
    color: #1DB954;
    border: thick solid #1DB954;
}

.controller-label{
    display: block;
}

.input-slider{
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 50%; /* Specific width is required for Firefox. */
    background: white; /* Otherwise white in Chrome */
    height: 5px;
}

.input-slider::-ms-track{
    width: 100%;
    cursor: pointer;
    height: 5px;

    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
}

.input-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: thick solid #1DB954;
    height: 15px;
    width: 15px;
    border-radius: 14px;
    background: black;
  }
  
  /* All the same stuff for Firefox */
  .input-slider::-moz-range-thumb {
    border: thick solid #1DB954;
    height: 15px;
    width: 15px;
    border-radius: 14px;
    background: black;
  }
  
  /* All the same stuff for IE */
  .input-slider::-ms-thumb {
    border: thick solid #1DB954;
    height: 15px;
    width: 15px;
    border-radius: 14px;
    background: #black;
  }