html{
    height: 100%;
    background-color: #000;
    color: #FFF;

    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
    text-transform: lowercase;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body{
    height: 100%;
}

.content-area{
    margin: 30px;
}

.body-area{
    margin: 30px;
}

.splashscreen-content {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

.splashscreen-text-container{
    margin: 0px auto 20px;
    width: 50%;
    padding: 10px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    
}

.site-title{
    font-size: 64px;
    font-weight: 700;
    line-height: 1;
    margin: inherit;
}

.site-subtitle{
    font-weight: 300;
    margin: inherit;
}

.action-button{
    margin: inherit;
    padding: 15px 32px;
    border-radius: 30px;

    background-color: #1DB954;
    color: #000;
    border: thick solid #1DB954;
    
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: lowercase;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.action-button:hover{
    background-color: #000;
    color: #1DB954;
    border: thick solid #1DB954;
}

.column-row{
    display: flex;
}

.column-left{
    width: 60%;
}

.column-right{
    width: 40%;
}

.control-list{
    padding-left: 0px;
}

.input-block{
    width: 100%;
}

.controller-label{
    display: block;
    width: 100%;
}

.slider-box{
    width: 100%;
    display: flex;
    text-align: center;
    margin: auto 20px auto 0px
}

.end-label{
    display: flex;
    margin: inherit;
}

.input-slider{
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 50%; /* Specific width is required for Firefox. */
    background: white; /* Otherwise white in Chrome */
    height: 5px;
    display: flex;
    flex: 1;
    align-self: center;
    margin: inherit
}

.input-slider::-ms-track{
    width: 100%;
    cursor: pointer;
    height: 5px;

    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
}

.input-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: thick solid #1DB954;
    height: 15px;
    width: 15px;
    border-radius: 14px;
    background: black;
  }
  
  /* All the same stuff for Firefox */
  .input-slider::-moz-range-thumb {
    border: thick solid #1DB954;
    height: 15px;
    width: 15px;
    border-radius: 14px;
    background: black;
  }
  
  /* All the same stuff for IE */
  .input-slider::-ms-thumb {
    border: thick solid #1DB954;
    height: 15px;
    width: 15px;
    border-radius: 14px;
    background: black;
  }