html{
    height: 100%;
    background-color: #000;
    text-transform: lowercase;
}

body{
    height: 100%;
}

#app{
    font-family: 'Poppins', sans-serif;
    color: #FFF;
    letter-spacing: 3px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.content {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

.splashscreen-text-container{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    
}

.site-title{
    font-size: 64px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 20px;
    line-height: 1;
}

.site-subtitle{
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 20px;
}

.action-button{
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 15px 32px;
    background-color: #FFF;
    color: #000;
    font-size: 16px;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
    text-transform: lowercase;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.action-button:hover{
    background-color: #000;
    color: #FFF;
    outline: 2px #FFF;
}